extends ../../node_modules/grasshopper-admin-plugin-base-template/gh-admin-base-template.pug

block head

block stage
    #commercePlugin
        h1 Reports

block scripts
    script.
        console.log('YEAH BUDDY')