extends ./node_modules/grasshopper-admin-plugin-base-template/gh-admin-base-template.pug

block head
    //- old admin styles
    base(href='/admin/')
    link(rel='stylesheet', href='/admin/themes/main.css')
    style(type='riot')

block scripts
    script(src='/admin/manifest.js')
    script(src='/admin/core.js')
    script(src='/admin/components.js')
    script(src='/admin/vendor/requirejs/require.js')
    script(src='/admin/main.js')
