{
    "extends": [
        "eslint:recommended"
    ],
    "parserOptions" : {
        "ecmaVersion" : 6,
        "sourceType" : "module"
    },
    "ecmaFeatures": {
        "modules": true                             // enable use if import
    },

    "env": {
        "browser": true,
        "node" : true
    },

    "globals": {
        // e.g. "angular": true
    },

    "plugins": [
        "riot"
    ],

    "rules": {
        "semi": ["error", "always"],
        "no-console": ["off"]
    }
}