extends ./node_modules/grasshopper-admin-plugin-base-template/gh-admin-base-template.pug

block head
    link(rel='stylesheet', href='/admin/main.css')
    style(type='riot')
    link(rel='stylesheet', href='/admin/plugins/settings/settings.css')

block stage
    #apiBrowserPlugin.container.markdown-body
        h1 API Information

        h2 Admin Routes

        pre
            code(rv-html='view.adminRoutes')

        hr

        h2 Grasshopper Routes

        pre
            code(rv-html='view.grasshopperRoutes')

block scripts
    script.
        window.adminRoutes = JSON.parse('!{JSON.stringify(adminRoutes)}');
        window.grasshopperRoutes = JSON.parse('!{JSON.stringify(grasshopperRoutes)}');
    script(src='/admin/manifest.js')
    script(src='/admin/core.js')
    script(src='/admin/components.js')
    script(type='text/javascript' src='/admin/plugins/apiBrowser/bundle.js')