extends ../../node_modules/grasshopper-admin-plugin-base-template/gh-admin-base-template.pug

block head

block stage
    #commercePlugin.container.markdown-body
        h1 Options

block scripts
    script.
        console.log('YEAH BUDDY')