extends ../../node_modules/grasshopper-admin-plugin-base-template/gh-admin-base-template.pug

block head

block stage
    #commercePlugin.container.markdown-body
        h1 Options

        h2 Product Content Types
        product-content-types

block scripts
    script.
        window.contentTypes = JSON.parse('!{JSON.stringify(allContentTypes)}');
        window.commerceOptions = JSON.parse('!{JSON.stringify(commerceOptions)}');
    script(src='/admin/plugins/commerce/options.js')