include ../../../../lib/admin/server/mixins/addConfigs.pug

doctype html
//if IE 8
// [if gt IE 8] <!
// <![endif]
html
    head
        meta(charset='utf-8')
        base(href='/admin/')
        meta(name='viewport', content='width=device-width')
        title Grasshopper
        //- old admin styles
        link(rel='stylesheet', href='/admin/themes/main.css')
        //- New Admin Styls (headerbar etc.)
        link(rel='stylesheet', href='/admin/main.css')
        style(type='riot')
        block head
    body
        #siteContainter
            #header(style='display : none !important;')
            #headerbar(riot-tag='tabs-bar')
            #masthead
            #loading-overlay-header
            #loading-overlay
                img.loading-overlay-image(src='/admin/themes/img/loading-spinner-horizontal.gif')
            #sidebar
            #stage
            #alertBox
            #footer
            #modal
        +addConfigs
        script(src='/admin/manifest.js')
        script(src='/admin/core.js')
        script(src='/admin/components.js')
        script(src='/admin/vendor/requirejs/require.js')
        script(src='/admin/main.js')