extends ../../../../lib/admin/server/layout

//- block head
//-     //- // Because you know the name of your plugin, the paths are important.
//-     link(rel='stylesheet', href='/admin/settings/assets/styles.css')

block stage
    #plugins
        h1 PLUGINS

        ul
            for plugin in plugins
                li
                    span= plugin.name
                    input(type='checkbox' checked=plugin.active on-change='handlePluginCheck')

block script
    script.
        window.plugins = JSON.parse('!{JSON.stringify(plugins)}');
    script(type='text/javascript' src='/admin/plugins/plugins/bundle.js')