extends ../../../../lib/admin/server/layout

block head
    //- // Because you know the name of your plugin, the paths are important.
    link(rel='stylesheet', href='/admin/assets/settings/styles.css')

block stage
    h1 PLUGINS

block script
    //- script(src='/admin/assets/settings/jquery.js')
    script.
        console.log('THE PLUGINS PLUGIN');