doctype html
//if IE 8
// [if gt IE 8] <!
// <![endif]
html
    head
        meta(charset='utf-8')
        base(href='/admin/')
        meta(name='viewport', content='width=device-width')
        title Grasshopper
        link(rel='stylesheet', href='/admin/themes/main.c5896048.css')
    body
        #siteContainter
            #header
            #masthead
            #loading-overlay-header
            #loading-overlay
                img.loading-overlay-image(src='/admin/themes/img/loading-spinner-horizontal.f091d23f.gif')
            #sidebar
            #stage
            #alertBox
            #footer
            #modal
        script.
            window.ghaConfigs = {
                apiEndpoint: '/api',
                buildDirectory: 'app/public/admin',
                base: '/admin/',
                homeString: '!{homeString || 'Grasshopper' }',
                menuItems : !{ menuItems ? JSON.stringify(menuItems,null,4) : null }
            };
        script(src='/admin/main.4d3e786c.js')