include ./mixins/addConfigs.pug
doctype html
//if IE 8
// [if gt IE 8] <!
// <![endif]
html
    head
        meta(charset='utf-8')
        base(href='/admin/')
        meta(name='viewport', content='width=device-width')
        title Grasshopper
        link(rel='stylesheet', href='/admin/main.css')
    body
        #siteContainter
            #header
                div(style='display: block; opacity: 1;')
                    #topbar.contain-to-grid.sticky(riot-tag="top-bar")
                    #headerbar(riot-tag="tabs-bar")
            #masthead(riot-tag="masthead", style="z-index: 1000;")
            #loading-overlay-header
            loading-overlay
            #sidebar
            #stage
                block stage
            #alertBox
            #footer
            #modal
        +addConfigs
        script(src='/admin/manifest.js')
        script(src='/admin/core.js')
        script(src='/admin/components.js')
        block script
