doctype html
//if IE 8
// [if gt IE 8] <!
// <![endif]
html
    head
        meta(charset='utf-8')
        base(href='/admin/')
        meta(name='viewport', content='width=device-width')
        title Grasshopper
        link(rel='stylesheet', href='/admin/themes/main.c5896048.css')
    body
        #siteContainter
            #header
                div(style='display: block; opacity: 1;')
                    #topbar.contain-to-grid.sticky(riot-tag="top-bar")
                    #headerbar(riot-tag="tabs-bar")
            #masthead(riot-tag="masthead", style="z-index: 1000;")
            #loading-overlay-header
            loading-overlay
            #sidebar
            #stage
                block stage
            #alertBox
            #footer
            #modal
        script.
            window.ghaConfigs = {
                apiEndpoint: '/api',
                buildDirectory: 'app/public/admin',
                base: '/admin/',
                homeString: '!{homeString}',
                menuItems : !{JSON.stringify(menuItems,null,4)}
            };
            window.menuItems = window.ghaConfigs.menuItems;
        script(src='/admin/manifest.js')
        script(src='/admin/core.js')
        script(src='/admin/components.js')
        block script
