doctype html
//if IE 8
// [if gt IE 8] <!
// <![endif]
head
    meta(charset='utf-8')
    base(href='/api/admin/')
    meta(name='viewport', content='width=device-width')
    title Grasshopper
    // build:css themes/main.css
    link(rel='stylesheet', type='text/css', href='themes/main.css')
    // endbuild
#siteContainter
    #header
    #masthead
    #loading-overlay-header
    #loading-overlay
        img.loading-overlay-image(src='themes/img/loading-spinner-horizontal.gif')
    #sidebar
    #stage
    #alertBox
    #footer
    #modal
// build:js main.js
script(data-main='_logout', src='vendor/requirejs/require.js')
// endbuild
